schedules:
  - cron: 25 1 * * *
    displayName: Nightly package sync
    always: true
    branches:
      include:
        - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-24.04'

stages:
- stage: publish
  displayName: Publish wheels
  jobs:
  - job: upload_to_s3
    displayName: Upload wheels to S3
    steps:
    - bash: sudo snap install aws-cli --classic
      displayName: Install AWS CLI
    - script: |
        set -eux
        pwd
        
        # FIXME stage-specific requirements file
        python3 -m pip install dumb-pypi

        # download the complete list of packages on S3
        aws s3 ls s3://spare-tire-service/packages/ | awk '{print $4}' > packages.txt
        
        # generate a package index
        dumb-pypi \
          --package-list packages.txt \
          --output-dir index/ \
          --packages-url https://spare-tire.core.ansible.com/packages/ \
          --title "Ansible Spare Tire Python Wheels" \
          --no-generate-timestamp \
        
        # upload the package index
        aws s3 sync index/pypi/ s3://spare-tire-service/pypi/ --delete
        aws s3 sync index/simple/ s3://spare-tire-service/simple/ --delete
        aws s3 cp index/index.html s3://spare-tire-service/index.html

      name: sync_to_bucket
      displayName: Sync and regen index
      env:
        # map AWS secrets in for this step
        AWS_ACCESS_KEY_ID: $(ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: us-east-1
